
*{
    padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
   background: #182628;
   height: 100px;
   width: 100%;
}



label.logo{
   color: white;
   font-size: 35px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
}
a.navbar-brand{
  color: aliceblue;
  /*padding: 15px;*/
  /*margin: 10px;*/
  
}

.navbar-brand {
    margin-left: 40px;

    width: 300px;
    
}
.navbar-brand img {
    display: inline;
    width:50px; 
    height:50px;
}
.imgLogo {
  margin-top:37px;
  position: relative;    
}
.imgLogo img {

margin: 0;
position: absolute;
/* top: 50%; */
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.headerSanch {
  position: relative;
  margin-left: 55px;
}
.headerSanch h1 {
  margin: 0;
  
  position: absolute;
  /* top: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
nav ul{
   float: right;
   margin-right: 20px;
   margin-top: 10px;
}
nav ul li{
    display: inline-block;
	line-height: 56px;
	margin: 0 5px;
}
[data-red="true"]{
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-transform: uppercase;
   text-decoration: none;
}
a.active,a:hover{
    background: #378b50;
    transition: .5s;
    color:F2F2F2;
}
.fa {
    padding: 4px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 2.5px 1px;
    border-radius: 50%;
  }
  
.fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #378b50;
    color: white;
  }
  
.fa-twitter {
    background: #378b50;
    color: white;
  }
.fa-instagram {
    background: #378b50;
    color: white;
  }
.socials
{
    width:100%;
    text-align:right !important;
    background: #414C4D;
    margin-right: 30px;
}



.header ul li a{
text-decoration:none ;
}
a.fa.fa-twitter{
    text-decoration: none;
}
a.fa.fa-facebook{
    text-decoration: none;
}
a.fa.fa-instagram{
    text-decoration: none;
}
div.card-group
{
    margin: 50px;
}
div.card{
   
   border-color: #4b4b4b;
   border-radius: 25px;
   border-width: 5px;

}
img.card-img-top{
    width: 250px;
    height: 250px;
   
}
img.img-fluid
{
  margin-top: 10px;
    width: 100%;
    height: 800px;
    margin-top: -16px;
    position: relative;
    opacity: 0.7;
    
}
div.punchline
{
  
    position: absolute;
    top: 195px;
    right: 450px;
    color: #378b50;
    background-color:#182628;
    
    border-radius: 20px;
    padding: 20px 20px;
    
    
}
blockquote.blockquote
{
    font-size: 50px;
    font-weight: bold;
}
figcaption.blockquote-footer
{
    font-size: 25px;
    font-weight: bold;
    color: #DDD7DE;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;     
    opacity:0.7;
   
}
blockquote.blockquote-heading
{
    font-size: 70px;
    color: #f2f2f2;
    font-weight: bold;

}
.button-19 {
position: absolute;
right: 140px;
top: 400px;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

/* ----------------------------------------------------------------- Button css------------------------------- */

/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}