*{
    padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
   background: #182628;
   height: 100px;
   width: 100%;
}



label.logo{
   color: white;
   font-size: 35px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
}
a.navbar-brand{
  color: aliceblue;
  /*padding: 15px;*/
  /*margin: 10px;*/
}

.navbar-brand {
    margin-left: 40px;

    width: 300px;
    
}
.navbar-brand img {
    display: inline;
    width:50px; 
    height:50px;
}
.imgLogo {
  margin-top:37px;
  position: relative;    
}
.imgLogo img {

margin: 0;
position: absolute;
/* top: 50%; */
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.headerSanch {
  position: relative;
  margin-left: 55px;
}
.headerSanch h1 {
  margin: 0;
  
  position: absolute;
  /* top: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
nav ul{
   float: right;
   margin-right: 20px;
   margin-top: 10px;
}
nav ul li{
    display: inline-block;
	line-height: 56px;
	margin: 0 5px;
}
[data-red="true"]{
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-transform: uppercase;
   text-decoration: none;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;	
}
.fa {
    padding: 4px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 2.5px 1px;
    border-radius: 50%;
  }
  
.fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #378b50;
    color: white;
  }
  
.fa-twitter {
    background: #378b50;
    color: white;
  }
.fa-instagram {
    background: #378b50;
    color: white;
  }
.socials
{
    width:100%;
    text-align:right !important;
    background: #414C4D;
    margin-right: 30px;
}



.header ul li a{
text-decoration:none ;
}
a.fa.fa-twitter{
    text-decoration: none;
}
a.fa.fa-facebook{
    text-decoration: none;
}
a.fa.fa-instagram{
    text-decoration: none;
}
div.card-group
{
    margin: 50px;
}
div.card{
   
   border-color: #0082E6;
   border-radius: 25px;
   border-width: 5px;

}
img.card-img-top{
    width: 250px;
    height: 250px;
   
}
img.img-fluid
{
  margin-top: 10px;
    width: 100%;
    height: 800px;
    margin-top: -16px;
    position: relative;
    opacity: 0.7;
    
}
div.punchline
{
  
    position: absolute;
    top: 195px;
    right: 450px;
    color: #378b50;
    background-color:rgb(0, 0, 0);
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px 20px;
    
    
}
blockquote.blockquote
{
    font-size: 50px;
    font-weight: bold;
}
figcaption.blockquote-footer
{
    font-size: 25px;
    font-weight: bold;
    color: #DDD7DE;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;     
    opacity:0.7;
   
}
blockquote.blockquote-heading
{
    font-size: 70px;
    color: #f2f2f2;
    font-weight: bold;

}
.button-19 {
position: absolute;
right: 140px;
top: 400px;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}