body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(237, 237, 237);
}



.container0 {
    display: flex;
    justify-content: center;
    height: 28px;
    
    background-color: #414C4D;
}
.headerName {
    
    /* height: 400px; */
    /* position: absolute; */
    /*transform: translateY(-50%); */
}

.headerName h1 {
    font-size: 15px;
    color: F2F2F2;
}

.header {
    background-color: #414C4D ;
    color: #F2F2f2;
    
    /* height: 100px; */
}
/* -----------------------------footer css ------------------------------------------ */
.site-footer {
    margin-top:600px;
}

.container1 {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center; 
    /* height: 4000px; */
}

.headerBoxes {
    flex-direction: column;
    height: 1200px;
    width: 1200px; 
    
    
}

.boxes {
    margin-top: 50px;
    padding-bottom: 100px;
}

img {
    margin-top: 2px;
    height: 190px;
    width: 190px;
    
}



p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(119, 198, 2);

}

.donateSell {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    
}

.col {
    /* background-color: aquamarine; */
    background-color: white;
    width: 150px;
    height: 290px;
    /* border: 0.5px solid rgb(135, 135, 135); */
    border-radius: 10px;
    transition: 0.5s;
    
}

#allRows {
    margin-top:50px;
}


.searchBox {
    width: 700px;
    
}

.col:hover {
    color: rgb(119, 198, 2);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.itemName{
    font-weight: bold;
}

#colmid {
    margin-left: 10px;
    margin-right: 10px;

}
.row {
    margin-bottom: 10px;
}
/*
.header {
    align-items: center;
}

.boxes {
    align-items: center;
} */