*{
    padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body{
    font-family: montserrat;
}

.header{
   background: #125688;
   height: 80px;
   width: 100%;
}

label.logo{
   color: white;
   font-size: 35px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
}
nav ul{
   float: right;
   margin-right: 20px;
}
nav ul li{
    display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
[data-red="true"]{
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-transform: uppercase;
   text-decoration: none;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;	
}
.fa {
    padding: 15px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-instagram {
    background: #125688;
    color: white;
  }
.socials
{
    width:100%;
    text-align:right !important;
    background: #0082E6;
}


a.navbar-brand{
    color: aliceblue;
    padding: 15px;
    margin: 10px;
}
.header ul li a{
text-decoration:none ;
}
a.fa.fa-twitter{
    text-decoration: none;
}
a.fa.fa-facebook{
    text-decoration: none;
}
a.fa.fa-instagram{
    text-decoration: none;
}
div.card-group
{
    margin: 50px;
}
div.card{
   
   border-color: #0082E6;
   border-radius: 25px;
   border-width: 5px;

}
img.card-img-top{
    width: 250px;
    height: 250px;
   
}
img.img-fluid
{
    margin-top: -16px;
    position: relative;
}
div.punchline
{
    position: absolute;
    top: 125px;
    right: 300px;
    color: #125688;
    
}
blockquote.blockquote
{
    font-size: 50px;
    font-weight: bold;
}
figcaption.blockquote-footer
{
    font-size: 25px;
    font-weight: bold;
    color: #DDD7DE;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 15px;     
   
}
blockquote.blockquote-heading
{
    font-size: 70px;
    color: #243E47;
    font-weight: bold;

}
.button-19 {
position: absolute;
right: 140px;
top: 400px;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}